# TRAITEMENT DES VALEURS MANQUANTES

In [1]:
# Importation de la librairie
import pandas as pd

In [2]:
# Importation des données depuis mon site GitHub
url = "https://raw.githubusercontent.com/simaleo/data_book1/main/hdv2003.csv"
data = pd.read_csv(url)

In [3]:
# Nombre de valeurs manquantes par variables
data.isna().sum()

id                 0
age                0
sexe               0
nivetud          112
poids              0
occup              0
qualif           347
freres.soeurs      0
clso               0
relig              0
trav.imp         952
trav.satisf      952
hard.rock          0
lecture.bd         0
peche.chasse       0
cuisine            0
bricol             0
cinema             0
sport              0
heures.tv          5
dtype: int64

In [4]:
# Pourcentage du nombre de valeurs manquantes par variables
data.isna().sum() * 100/2000

id                0.00
age               0.00
sexe              0.00
nivetud           5.60
poids             0.00
occup             0.00
qualif           17.35
freres.soeurs     0.00
clso              0.00
relig             0.00
trav.imp         47.60
trav.satisf      47.60
hard.rock         0.00
lecture.bd        0.00
peche.chasse      0.00
cuisine           0.00
bricol            0.00
cinema            0.00
sport             0.00
heures.tv         0.25
dtype: float64

In [5]:
# Nombre de lignes avant la suppression des valeurs manquantes
data.shape[0]

2000

In [6]:
# Suppression des valeurs manquantes
df = data.dropna()

# Nombre de lignes restantes
df.shape[0]

934

In [7]:
a = 2000-934
a1 = a*100/2000
a

1066

In [8]:
# Nombre de lignes et de colonnes avant la suppression
data.shape

(2000, 20)

In [9]:
# Suppression des colonnes avec plus de 10% des valeurs manquantes
dt = data.drop(columns = ['qualif', 'trav.imp', 'trav.satisf'])

# Nombre de lignes et de colonnes après la suppression
dt.shape

(2000, 17)

In [10]:
# Nombre de lignes avant la suppresion des valeurs manquantes 
dt.shape

(2000, 17)

In [11]:
# Suppression des valeurs manquantes
dr = dt.dropna()

# Nombre de lignes après la suppresion des valeurs manquantes 
dr.shape

(1883, 17)

In [12]:
b = 2000-1883
b1 = b*100/2000
b1

5.85

In [13]:
data.shape

(2000, 20)

In [14]:
# Methode: ffill
de = data.fillna(method='ffill') 

de.isna().sum()

id               0
age              0
sexe             0
nivetud          0
poids            0
occup            0
qualif           0
freres.soeurs    0
clso             0
relig            0
trav.imp         0
trav.satisf      0
hard.rock        0
lecture.bd       0
peche.chasse     0
cuisine          0
bricol           0
cinema           0
sport            0
heures.tv        0
dtype: int64

In [15]:
# Methode: bfill
dp = data.fillna(method='bfill')

dp.isna().sum()

id               0
age              0
sexe             0
nivetud          0
poids            0
occup            0
qualif           0
freres.soeurs    0
clso             0
relig            0
trav.imp         1
trav.satisf      1
hard.rock        0
lecture.bd       0
peche.chasse     0
cuisine          0
bricol           0
cinema           0
sport            0
heures.tv        0
dtype: int64